.login{
  max-width: 700px;
  margin: auto;
}

.login form{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login input{
  padding: .5em 1em;
}

.login button{
  background-color: var(--main-color);
}