.game-search{
  padding: 2em;
}

.game-search > form > input, button{
  padding: .5em;
  border: none;
}

.game-search > form{
  width: clamp(200px, 100%, 500px);
  margin: auto;
  display: flex;
  border: 1px solid #000;
}

.game-search > form > input{
  width: 100%;
}

.game-search > form > button{
  border-left: 1px solid #000;
  background-color: var(--main-color);
}