.update-game{
  max-width: 700px;
  align-self: center;
}

.update-game form{
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.update-game input,
.update-game textarea{
  width: 700px;
  padding: .5em 1em;
  box-sizing: border-box;

}

.update-game textarea{
  height: 120px;
}

.update-game button{
  margin: auto;
  width: 700px;
  background-color: var(--main-color);
}