.card{
  width: 300px;
  height: 400px;
  border: 1px solid transparent;
  margin: auto;
  margin-bottom: 1em;
}

.card__img{
  width: inherit;
  height: 365px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.card__button{
  height: 35px;
  width: 100%;
  background-color: var(--main-color);
}