.games{
  width: 100vw;
  margin: auto;
  margin-bottom: 5em;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}

@media (min-width: 768px) {
  .games{
    width: 95vw;
  }
}
