.modal {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, .8);
  font-weight: bold;
  font-size: 1.5em;
}

.modal__container {
  border-radius: 10px;
  padding: 1.5em;
  background-color: #000;
}

.modal__title {
  text-align: center;
  color: #fff;
}

.modal__description{
  text-align: center;
  color: var(--main-color);
}

.modal__controlls {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.modal__buton {
  width: 100px;
  border: 1px solid #000;
  background-color: var(--main-color);
  border-radius: 10px;
}

.modal__buton:nth-child(1){
  color: #fff;
  background-color: #f00;
}
