.search{
  width: 100vw;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}

@media (min-width: 768px) {
  .search{
    width: 95vw;
  }
}
